h1 {
    text-align: center;
    padding-bottom: 20px;
}

#root{
    height: 100vh;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.mainPage {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    color: white;
}



.section {
    padding: 5rem;
    font-size: 25px;
    color: black;
    text-align: center;
    display: flex;
    
    justify-content: center;
    scroll-snap-align: start;
    height: 80vh;
    overflow-y: hidden;
    color: #ffffff;
    font-weight: 400;
}

#p-login{
    font-size: 14pt;
}

button{
    background-color: #4079AC;
    margin: 10px !important;
    color: white;
    border-radius: 30px !important;
    border: solid 10px #272f33 !important;
    padding: 10px 15px;
    width: 360px;

}

.mainPage::-webkit-scrollbar { width: 0 !important }

.column {
    float: left;
    width: 50%;
}

.column h2 {
    padding-top: 100px;
}

.column p {
    padding-top: 10px;
}

#mainimage {
    width: 40vh;
    height: auto;
    border-radius: 10%;
    margin: 100px;
}

#image1 {
    margin-top: 20%;
    width: 60%;
    height: auto;

}

#image2 {
    width: 80%;
    height: auto;
    margin-top: 20%;
    padding-right: 10px;
}

#image3 {
    width: 40%;
    height: auto;
    margin-top: 20%;
}

#heading1 {
    padding-top: 130px;
}
#heading2 {
    padding-bottom: 30px;
}