h1 {
    text-align: center;
    padding-bottom: 20px;
}


body, html {
    height: 100%;
    overflow: hidden;
}

.mainPage {
    max-height: 80vh;
    overflow-y: scroll;
    border-bottom: 1px solid white;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}

.section {
    border-bottom: 1px solid white;
    padding: 5rem;
    font-size: 25px;
    color: black;
    text-align: center;
    display: flex;
    
    justify-content: center;
    scroll-snap-align: start;
    height: 80vh;
    overflow-y: hidden;
}

.mainPage::-webkit-scrollbar { width: 0 !important }

.column {
    float: left;
    width: 50%;
    background-color: white;
    border-bottom: 1px solid white;
    padding: 50px 50px 50px 50px;
}

#image1 {
    width: 60%;
    height: auto;
}

#image2 {
    width: 100%;
    height: auto;
}

#heading1 {
    padding-top: 130px;
}
#heading2 {
    padding-bottom: 30px;
}