
.tag-list div{
    background-color: #23272a;
    padding: 4px !important;
    padding-right: 8px !important;
    font-size: 1.2em !important;
    font-weight: 600;
    border-radius: 10px;
    border: solid 5px #99aab5 !important;
}

input{
    padding: 5px;
}

.ReactModal__Overlay{
    background-color: rgba(0,0,0,0.15) !important;
}

.ReactModal__Content{
    background-color: #2c2f33 !important;
    max-width: 30vw;
}

.ReactModal__Content h2{
    text-align: center;
}

.ReactModal__Content p{
    text-align: center;
    color: white;
}